fastapi
uvicorn
sqlalchemy
pytest
pydantic
pydantic-settings
langchain-text-splitters
chromadb
fastembed
langchain-core
langchain-google-genai
google-genai
langchain-openai
langchain-ollama
langchain-docling
neo4j